#blog{
    display: flex;
    flex-direction: row;
}

#card img{
    width: 80%;
    height: 70%;
}

#card{
    margin: 3em;
    width: 70%;
}


#slide{
    background-color: rgb(65, 156, 100);
    margin-bottom: 4em;
    
}

#slide header {
    background-color: rgb(243, 81, 81);
    color: white;
    padding: 1.5em;
    text-align: center;
    
}
#slide header h3{
    margin: 0;
}
#slide h4{
    margin-left: .2em;
}
#slide li{
    cursor: pointer;
    margin-right: .2em;
}

#randomImg{
    margin-left: .2em;
}
#slide img{
    width: 13em;
    height: 12em;
    margin-left: 1.3em;
}