footer {
    position: fixed;
    bottom: 0;
 
    background-color: black;
    margin-top: auto;
    width: 100%;
    padding: 10px 10px;
  }
  
footer a{
    color: grey;
    text-align: center;
  }

 .down {
  display: flex;
  justify-content: center;
}
.down a{
  padding: .5em;
}

@media  (max-width: 500px){
  .down {
    display: flex;
    flex-direction: column;
    text-align: start;
  }
  .down a{
    text-align: start;
    float: left;
  }
}